<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>浪潮社区</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.scss">
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="jumbotron">
    <h1>页面出错了！！！！</h1>
    <p>页面出错了，过一会再来看看吧</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">返回首页</a></p>
</div>
</body>
</html>